<meta name ="viewport" content ="width=device-width, initial-scale=1">
<div class="row">
  <div class="col-1-span-2">
  <nav class="navbar navbar-light bg-light">
  <ul class ="nav navbar-nav">
    <mat-action-list>
      <button mat-list-item (click)="search('Configurator')">Configurator</button>
      <button mat-list-item (click)="search('Pricing')">Pricing</button>
      <button mat-list-item (click)="search('Kafka')">Kafka</button>
      <button mat-list-item (click)="search('BigData')">BigData</button>
      <button mat-list-item (click)="search('RI')">RI</button>
      <button mat-list-item (click)="search('sql-data-forwarder')">sql-data-forwarder</button>
      <button mat-list-item (click)="search('Adhoc')">Adhoc</button>
    </mat-action-list>
  </ul>
  </nav>
 </div>
  <div class="col-10">
  <div class =”container”>  
    <p-table [value]="tasks"  styleClass="p-datatable-sm" dataKey="step_id" editMode="row" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Workflow</th>
              <th pSortableColumn="task">Task <p-sortIcon field="task"></p-sortIcon></th>
              <!-- <th>Task</th> -->
              <th>Step</th>
              <th>Level</th>
              <th>Due</th>
              <th>Tags</th>
              <th style="width:8rem"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="task">
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="task.workflow">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{task.workflow}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="task.task" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{task.task}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="task.step">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{task.step}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="task.klevel">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{task.klevel}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="task.due">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{task.due}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="task.tags">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{task.tags}}
                  </ng-template>
              </p-cellEditor>
          </td>
              <td style="text-align:center">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(task)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(task)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(task, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
              <td style="text-align:center">
                <button *ngIf="!editing" pButton pRipple type="button"  icon="pi pi-copy" (click)="copyTask(task)" class="p-button-rounded p-button-text"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  </div>


    