<div class="list row">
    <div class="col-md-6">
        <div class="card m-5 p-3">
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>StepName</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let step of taskSteps">
                        <td>{{step.stepId}}</td>
                        <td>{{step.stepName}}</td>         
                    </tbody>
                </table>
            </div> 
    </div>
    </div>
    </div>
    
    
    
    
    
    