<header>
    <div>
      <h1>Add Tasks</h1>
    </div>
    <!-- <mat-icon (click)="toggleTheme()" title="Change theme">format_color_fill</mat-icon> -->
  </header>
  <form [formGroup]="tasksTable">
      <table class="table table-border" [ngClass]="{'table-dark': mode}">
        <thead class="text-nowrap">
          <th>Space <span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Workflow <span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Task<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Step<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Tags<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Due</th>
          <!-- <th>Due Date<span class="ui-column-resizer" dragableColumn> </span></th> -->
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                <mat-form-field>
                  <mat-select [(value)]="defaultSpace" formControlName="space">
                    <mat-option></mat-option>
                    <mat-option [value]="option" *ngFor="let option of spaces">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td> 
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="workflow">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="task">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="step">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="tags">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="due">
                </mat-form-field>
              </td>
              <!-- <td>
                <mat-form-field>
                  <input matInput matInput [matDatepicker]="picker" formControlName="dueDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td> -->
              <!-- <td>
                <mat-form-field>
                  <mat-select formControlName="Space">
                    <mat-option value="O+">O</mat-option>
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="AB">AB</mat-option>
                  </mat-select>
                </mat-form-field>
              </td> 
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="mobNumber">
                </mat-form-field>
              </td>-->
              <td>
                <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
              <td>
                {{group.get('space').value}}
              </td>
              <td>
                {{group.get('workflow').value}}
              </td>
              <td>
                {{group.get('task').value}}
              </td>
              <td>
                  {{group.get('step').value}}
              </td>
              <td>
                  {{group.get('due').value}}
              </td>
              <td>
                {{group.get('tags').value}}
              </td>
              <!-- <td>
                {{group.get('dueDate').value}}
              </td> -->
              <td>
                <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
        <button mat-raised-button [disabled]="tasksTable.invalid" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>
    <div class="output">
      <!-- <p>Form Data:  {{tasksTable.value | json}}</p> -->
        <p>Is Valid: {{tasksTable.valid}}</p>
    </div>

