<meta name ="viewport" content ="width=device-width, initial-scale=1">
<div class="row">
  <div class="col-1-span-2">
  <nav class="navbar navbar-light bg-light">
  <ul class ="nav navbar-nav">
    <mat-action-list>
      <button mat-list-item (click)="search('Big Data')">Big Data</button>
      <button mat-list-item (click)="search('Cloud')">Cloud</button>
      <button mat-list-item (click)="search('Core-Java')">Core-Java</button>
      <button mat-list-item (click)="search('Database')">Database</button>
      <button mat-list-item (click)="search('Devops')">Devops</button>
      <button mat-list-item (click)="search('Front End')">Front End</button>
      <button mat-list-item (click)="search('Git')">Git</button>
      <button mat-list-item (click)="search('Java-EE')">Java-EE</button>
      <button mat-list-item (click)="search('Networking')">Networking	</button>
      <button mat-list-item (click)="search('OS')">OS	</button>
      <button mat-list-item (click)="search('Python')">Python</button>
      <button mat-list-item (click)="search('Spring')">Spring</button>
      <button mat-list-item (click)="search('System Design')">System Design</button>
      <button mat-list-item (click)="search('Tools')">Tools</button>
      <button mat-list-item (click)="search('Web')">Web</button>
    </mat-action-list>
  </ul>
  </nav>
 </div>
  <div class="col-9">
  <div class =”container”>  
    <mat-card>  
      <mat-card-content>
        <!-- <mat-form-field appearance="standard">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="Core-Java">Core-Java</mat-option>
            <mat-option value="Spring">Spring</mat-option>
            <mat-option value="Web">Web</mat-option>
          </mat-select>
        </mat-form-field>
     
        <button mat-flat-button color="primary" (click)="search()">Search</button>-->
    


    <!-- <mat-form-field>
      <mat-select placeholder="Select Level of Education" name="education_level" (selectionChange)="educationLevelChangeAction(education_level)" [(ngModel)]="education_level" >
        <mat-option *ngFor="let education of educationList" [value]="education.educationLevelName" >{{ education.educationLevelName }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    
    <div class='col-md-12'>
    
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Java" #input>
        </mat-form-field> 
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.step_id}} </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="workflow">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Workflow </th>
              <td mat-cell *matCellDef="let row"> {{row.workflow}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
              <td mat-cell *matCellDef="let row"> {{row.task}} </td>
            </ng-container>
        
            <!-- Fruit Column -->
            <ng-container matColumnDef="step">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Step </th>
              <td mat-cell *matCellDef="let row"> {{row.step}} </td>
            </ng-container>

            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
              <td mat-cell *matCellDef="let row"> {{row.tags}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                <button mat-raised-button color="primary" class="push-right"
                  [routerLink]="['/edit', row.step_id]">Edit</button>
                <!-- <button mat-raised-button color="accent" (click)="deleteStudent(i, element)">Delete</button> -->
              </td>
            </ng-container>
            <ng-container matColumnDef="levelup">
              <th mat-header-cell *matHeaderCellDef> Level Up </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                <button class="push-right" (click)="levelUp(row.step_id)">
                  <mat-icon>arrow_upward</mat-icon>  
                </button>
                <!-- <button mat-raised-button color="accent" (click)="deleteStudent(i, element)">Delete</button> -->
              </td>
            </ng-container>

            <ng-container matColumnDef="editTags">
              <th mat-header-cell *matHeaderCellDef> Edit Tags  </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                <button class="push-right" (click)="openDialog(row.tags,row.step_id)">
                  <mat-icon>layers</mat-icon>
                </button>
                <!-- <button mat-raised-button color="accent" (click)="deleteStudent(i, element)">Delete</button> -->
              </td>
            </ng-container>
        
            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
          </table>
        
          <mat-paginator [pageSizeOptions]="[ 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>


    